/*Start Globel Rules*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-headings{
  text-align: center;
}
.main-headings h2{
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
}
.main-headings h2::before{
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  bottom: -30px;
  background-color: black;
}
.main-headings h2::after{
  content: "";
  position: absolute;
  width:14px;
  height: 14px;
  border: 2px solid black;
  border-radius: 50%;
  bottom: -38px;
  background-color: white;
}
.main-headings p{
  margin-top: 70px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  color:#777;
  line-height: 2;
  width: 550px;
  max-width: 100%;
}
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/*Smart phone*/
@media (max-width:767px){
  /*Start Heading*/
  header .container nav ul{
    display: none;
  }
  header .container nav .toggle-menu:hover + ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:100%;
    left:0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    background-color: rgba(0, 0, 0, 50%);
  }
  header .container nav .toggle-menu:hover + ul li a{
    padding: 15px;
  }
  /*End Heading*/
  /*Start Landing*/
  .landing .change-background{
    display:none;
  }
  .landing .text{
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    padding: 50px;
  }
  .landing .text .content{
    max-width:100%;
  }
  /*End Landing*/
  /*Start Services*/
  .services .service-cont{
    display: grid;
    grid-row-gap: 20px;
  }
  .services .service-cont .srv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services .service-cont .srv i{
  margin-right: 0;
}
.services .service-cont .srv .text{
  text-align: center;
  padding-top: 30px;
}
/*End Services*/
/*Start Design*/
.design .image{
  display: none;
}
.design .text{
  position: absolute;
  background-color: var(--transparent-color);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  padding: 50px;
  width: 100%;
}
/*End Design*/
/*Start Portofilio*/
.portofilio .image-container .image-content{
  flex-basis: 100%;
  overflow: hidden;
  position: relative;
}
/*End Portofilio*/
/*Start Stat*/
.state .state-content{
  flex-basis: 100%;
}
/*End Stat*/
.contact .container .content {
    flex-direction: column-reverse;
  }
  .contact .container .content .info{
    text-align: center;
    margin-left: 0;
    margin-bottom: 40px;
  }
}
/*Small Screen*/
@media (min-width:768px){
  /*Start Heading*/
  header .container nav .toggle-menu{
    display: none;
  }
  header .container nav ul{
    display: flex;
  }
  /*End Heading*/
  /*Start Landing*/
  .landing .text{
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    color: white;
    padding: 50px;
  }
  .landing .text .content{
    max-width:500px;
  }
  /*End Landing*/
  /*Start Services*/
  .services .service-cont{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    grid-row-gap: 45px;
    grid-column-gap: 40px;
  }
  .services .service-cont .srv{
    display:flex;
  }
  .services .service-cont .srv i{
    margin-right: 50px;
  }
  /*End Services*/
  /*Start Design*/
  .design .image{
    display: inherit;
  }
  .design .text{
    position: absolute;
    background-color: var(--transparent-color);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 50px;
    width:calc(57% - 50px);
  }
  /*End Design*/
  /*Start Portofilio*/
  .portofilio .image-container .image-content{
    flex-basis: 50%;
    overflow: hidden;
    position: relative;
  }
  /*End Portofilio*/
  /*Start Stat*/
  .state .state-content{
    flex-basis: 50%;
  }
  /*End Stat*/
}
/*Medium Screen*/
@media (max-width:991px){
  .skills .container .testimonials .testimonials-content .image {
    width: 100px;
  }
  .skills .container {
    grid-template-columns: 1fr;
  }
  .supscription .container{
    flex-direction: column;
  }
}
@media (min-width:992px){
  .skills .container .testimonials .testimonials-content .image {
    width: 200px;
  }
  .skills .container {
    grid-template-columns: repeat(2,1fr);
  }

}
/*Large Screen*/
@media (min-width:1200px){
  .container{
    width:1170px;
  }
  /*Start Portofilio*/
  .portofilio .image-container .image-content {
    flex-basis: 25%;
    overflow: hidden;
    position: relative;
}
/*End Portofilio*/
/*Start Stat*/
.state .state-content{
  flex-basis: 25%;
}
/*End Stat*/
}
/*End Globel Rules*/
/*Start Header*/
header{
  position: absolute;
      left: 0;
      width: 100%;
      z-index: 2;
}
header .container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after{
  content: "";
    position: absolute;
    background-color: white;
    width: calc(100% - 30px);
    height: 1px;
    bottom: 0;
    z-index: 1;
}
header .container .logo{
  height: 40px;
}
header .container .logo img{
  width: 100%;
  height: 100%;
}
header .container nav{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  flex:1;
}
header .container nav ul{
  list-style: none;
  margin: 0;
}
header .container nav ul li a{
  position: relative;
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 40px 10px;
  z-index: 2;
  transition: .3s;
}
header .container nav ul li a.active, header .container nav ul li a:hover{
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav .search{
  position: relative;
  width: 40px;
  height: 30px;
  margin-left: 30px;
  border-left: 1px solid white;
}
header .container nav .search i{
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
header .container nav .toggle-menu{
  color: white;
  font-size: 22px;
  position: relative;
}

/*End Header*/
/*Start Landing*/
.landing{
  background-image: url(../pic/landing.jpg);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
.landing .shade{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
}
.landing .text .content h2{
  font-weight: normal;
  font-size: 32px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 20px;
}
.landing .text .content p{
  line-height: 2;
  font-size: 14px;
  margin: 0;
}
.landing .change-background{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .circle{
  position: absolute;
  bottom: 30px;
  list-style: none;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.landing .circle li{
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .circle li.active{
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/*End Landing*/
/*Start Services*/
.services{
  background-color: rgba(255, 255, 255, 1);
  padding-top:var(--section-padding);
  padding-bottom:var(--section-padding);
}
.services .service-cont .srv h3{
  margin: 0;
  color:var(--main-color);
}
.services .service-cont .srv p{
  padding-top: 15px;
  line-height: 2;
  color: #777;
}
/*End Services*/
/*Start Design*/
.design{
  background-image: url(../pic/design-features.jpg);
  background-size: cover;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.design::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 60%);
}
.design .image{
  position: absolute;
  bottom: -80px;
  width: 45%;
  text-align: center;
}

.design .text h2{
  margin: 0;
  font-weight: normal;
}
.design .text ul{
  margin-top: 40px;
  margin-bottom: 0;
  list-style: none;
  position: relative;
  left: -37px;
}
.design .text ul li{
  padding: 15px 0;
}
.design .text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top:1px;
}
/*End Design*/
/*Start Portofilio*/
.portofilio{
  padding-top: 100px;
  padding-bottom: 100px;
}
.portofilio .portofilio-content{
  text-align: center;
}
.portofilio .portofilio-content ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
.portofilio .portofilio-content ul li{
  padding: 10px;
}
.portofilio .portofilio-content ul li.active ,
 .portofilio .portofilio-content ul li:hover{
  background-color: var(--main-color);
  color: white;
}
.portofilio .image-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portofilio .image-container .image-content img{
  max-width: 100%;
  transition: .3s;
}
.portofilio .image-container .image-content:hover img{
  transform: rotate(2deg) scale(1.1);
}
.portofilio .image-container .image-content .text{
  position: absolute;
  bottom: -95px;
  background-color: white;
  width: 100%;
  padding-left: 20px;
  padding-top: 15px;
  transition: .3s;
}
.portofilio .image-container .image-content .text h4{
  font-weight: normal;
  margin: 0;
  line-height: 2;
}
.portofilio .image-container .image-content .text p{
  margin-top: 0;
  line-height: 2;
  color: var(--main-color);
}
.portofilio .image-container .image-content:hover .text{
  bottom: 0;
}
.portofilio .button{
  text-align: center;
  margin-top: 40px;
}
.portofilio .button button{
  color: white;
  background-color: var(--main-color);
  border: none;
  width: 90px;
  height: 50px;
  transition: .3s;
}
.portofilio .button button:hover{
  background-color: #14a0c8;
}
/*End Portofilio*/
/*Start Video*/
.video{
  position: relative;
}
.video video{
  width: 100%;
}
.video::before{
  position: absolute;
  content: "";
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.video .text{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--transparent-color);
  padding: 50px;
  color: white;
}
.video .text h2{
  margin: 0;
  font-weight: normal;
}
.video .text p{
  margin-top: 30px;
}
.video .text button{
  color: white;
  background-color: black;
  width: 120px;
  height: 40px;
  margin-top: 20px;
}
/*End Video*/
/*Start About*/
.about{
  padding-top: 100px;
  overflow: hidden;
}
.about .container{
    text-align: center;
}
.about .container img{
  position: relative;
  max-width:100%;
  bottom: -120px;
  margin-top: -120px;
}
/*End About*/
/*Start State*/
.state{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url(../pic/stats.png);
  background-size: cover;
  position: relative;
}
.state::before{
  position: absolute;
  content: "";
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.state .container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.state .state-content{
  color: white;
  padding: 50px;
  background-color: var(--transparent-color);
}
.state .state-content i{
  background-color: black;
  padding: 12px;
  border-radius: 50%;
}
.state .state-content .number{
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 30px;
}
/*End State*/
/*Start Skills*/
.skills{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.skills .container{
  display: grid;
  grid-column-gap: 100px;
}
.skills .container .testimonials ,.skills-content{
  text-align: center;
}
.skills .container .testimonials h3 ,.skills-content h3{
  margin-top: 0;
  font-weight: normal;
}
.skills .container .testimonials p ,.skills-content p{
  padding-top: 20px;
  color:#777;
  margin-bottom: 60px;
  line-height: 2;
}
.skills .container .testimonials .testimonials-content{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.skills .container .testimonials .testimonials-content .image{
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.skills .container .testimonials .testimonials-content .image img{
  width:100%;
  border-radius: 50%;
}
.skills .container .testimonials .testimonials-content .text{
  text-align: left;
  color:black;
  line-height: 1.8;
}
.skills .container .testimonials .testimonials-content .text p{
  font-size: 14px;
  text-align: right;
  color: #777;
  margin: 0;
  padding-top: 0;
}
.skills .container .testimonials ul{
  display: flex;
  list-style: none;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.skills .container .testimonials ul li{
  width:15px;
  height: 15px;
  border:1px solid #777;
  border-radius: 50%;
  margin-right: 10px;
}
.skills .container .testimonials ul li.active{
  background-color: var(--main-color);
}
.skills-content .skills-bars .bar{
  margin-bottom: 40px;
}
.skills-content .skills-bars .bar h4{
  text-align: left;
  font-weight: normal;
}
.skills-content .skills-bars .bar .progress{
  width:100%;
  height: 30px;
  background-color: #dedadc;
  position:relative;
}
.skills-content .skills-bars .bar .progress span{
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left:0;
}
.skills-content .skills-bars .bar .progress span::before{
  content: attr(data-progress);
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  right: -18px;
  top: -40px;
  background-color: black;
  color: white;
}
.skills-content .skills-bars .bar .progress span::after{
  content: "";
  position: absolute;
  right: -5px;
  top: -12px;
  border: 6px solid;
  border-color: black transparent transparent transparent;
}
/*End Skills*/
/*Start Quote*/
.quote{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
  background-image: url(../pic/quote.jpg);
  background-size: cover;
  position: relative;
}
.quote::before{
  position: absolute;
  content: "";
  width:100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.quote .container{
  position: relative;
  text-align: center;
  color:white;
}
.quote .container q{
  font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
.quote .container p{
  margin-bottom: 0;
  padding-bottom: 0;
}
/*End Quote*/
/*Start Pricing*/
.pricing{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .container{
  text-align: center;
}
.pricing .pricing-content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-column-gap: 30px;
}
.pricing .pricing-content .box{
  text-align: center;
}
.pricing .pricing-content .box .head{
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}
.pricing .pricing-content .box .head h3{
  margin-top: 0;
  font-weight: normal;
}
.pricing .pricing-content .box .head span{
  font-weight: bold;
  font-size: 60px;
}
.pricing .pricing-content .box .head span::before{
  position: absolute;
  content: "$";
  font-size: 25px;
  font-weight: normal;
  left: 65px;
}
.pricing .pricing-content .box .head span::after{
  position: absolute;
  content: "/Mo";
  font-size: 20px;
  bottom: 38px;
  right: 40px;
}
.pricing .pricing-content .box ul{
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--main-color);
}
.pricing .pricing-content .box ul li{
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.pricing .pricing-content .box ul li:not(:last-child)::after{
  position: absolute;
  content: "";
  width: 140px;
  height: 0.5px;
  background-color: var(--main-color);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .pricing-content .box .button{
  margin: 30px;
}
.pricing .pricing-content .box .button button{
  padding: 20px;
  background-color: white;
  border: 1px solid var(--main-color);
}
.pricing .pricing-content .box .button button a{
  text-decoration: none;
  color:black;
}
.pricing .container .foot{
  margin-top: 40px;
  font-size: 18px;
}
.pricing .container .foot button{
  margin-top: 20px;
  padding: 13px 33px;
  background-color: var(--main-color);
  border:none;
}
.pricing .container .foot a{
  text-decoration: none;
  font-size: 15px;
  color:white;
}
/*End Pricing*/
/*Start Supscribtion*/
.supscription{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../pic/subscribe.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  position: relative;
}
.supscription::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.5);
}
.supscription .container{
  display: flex;
  position: relative;
  align-items: center;
}
.supscription .container form{
  position: relative;
  display: flex;
  width: 500px;
  max-width: 100%;
}
.supscription .container form i{
  position: absolute;
  top: 50%;
  left: 23px;
  font-size: 22px;
}
.supscription .container form input[type="email"]{
  background: none;
  padding: 20px 20px 20px 60px;
  border: 1px solid white;
  border-right: none;
  color: white;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}
.supscription .container form input[type="email"]::placeholder{
  color: white;
}
.supscription .container form input[type="submit"]{
  width: 130px;
  border: 1px solid white;
  border-left: none;
  background-color: var(--main-color);
  color: white;
}
.supscription .container p{
  line-height: 2;
  margin-left: 50px;
}
/*End Supscribtion*/
/*Start Contact*/
.contact{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container .content{
  display: flex;
  justify-content: space-between;
}
.contact .container .content form{
  flex-basis: 70%;
}
.contact .container .content form input[type="text"],
.content form input[type="email"]{
  width: 100%;
  height: 60px;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.contact .container .content form textarea{
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}
.contact .container .content form .button{
  text-align: right;
}
.contact .container .content form .button input[type="submit"]{
  padding: 20px;
  font-size: 15px;
  background-color: var(--main-color);
  border: none;
  color:white;
  cursor: pointer;
}
.contact .container .content .info{
  flex: 1;
  margin-left: 50px;
}
.contact .container .content .info h4{
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: NORMAL;
  font-size: 18px;
}
.contact .container .content .info p{
  color:#777;
}
.contact .container .content .info h4:nth-of-type(2){
  margin-top: 80px;
}
.contact .container .content .info address{
  line-height: 2;
  color: #777;
}
/*End Contact*/
/*Start Footer*/
.footer{
  padding-top: 50px;
  padding-bottom: 30px;
  background-image: url(../pic/subscribe.jpg);
  background-size: cover;
  text-align: center;
  color: white;
  position: relative;
}
.footer::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.7);
}
.footer .container{
  position: relative;
}
.footer .container h3{
  font-weight: normal;
  font-size: 22px;
  margin-top: 45px;
  padding: 20px;
  width: fit-content;
  border-bottom: 1px solid white;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.footer .container i{
  margin-right: 13px;
  margin-left: 13px;
}
.footer .container p{
  padding-top: 60px;
}
.footer .container p span{
  font-weight: bold;
  color:var(--main-color);
}
/*End Footer*/
